/* main components */

html, body {
    margin: 0;
    padding: 0;
}

/* Typography */

@font-face {
	font-family: 'Genty';
	src: url('GentyDemo-Regular.otf') format('opentype');
 }

@import url('https://use.typekit.net/msh6brx.css');

/* Header */

.title-section {
    height: 50vh;
    background-image: url(Header-BG.png);
    padding-top: 10vh;
    padding-left: 10vh;
}

@media (max-width: 425px) {
    .title-section {
        padding-left: 3vh;
    }
}

.title-header {
    height: 40vh;
    font-family:'Genty';
    font-size: 100px;
    color:#f8f4e7;
    text-shadow: 0 0 10px #ffdc41, 0 0 20px #ffdc41, 0 0 30px #ffdc41, 0 0 40px;
    padding-left: 5vw;
}

@media (max-width: 425px) {
    .title-header {
        font-size: 70px;
        padding-left: 0px;
    }
}


body {
    background: linear-gradient(-45deg, #FE9A38, #EA8C82);
}

.body-section {
    
    background-image: url(Wave.png);
    padding-top: 10vh;
}

.Body-header{
    height: 10vh;
    font-size: 56px;
    font-family: "sirenia", sans-serif;
    font-weight: 700;
    font-style: normal;
    color:#ffffff;
    padding-left: 10vw;
    margin-bottom: 0;
}

.body-subheader {
    font-family: "sirenia", sans-serif;
    font-weight: 100;
    font-style: normal;
    font-size: 36px;
    color:#ffffff;
    padding-left: 10vw;
    margin-top: 0;
}

.polaroid-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
    padding-bottom: 15vh;
  }

  .polaroid-container-2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    padding: 20px;
    padding-bottom: 15vh;
    margin-left: 8vw;
  }

.polaroid {
    width: 250px;
    height: 300px;
    margin: 10px;
    border: 10px solid white;
    border-bottom: 50px solid white;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    background-color: white;
    overflow: hidden;
    position: relative;
  }

.polaroid-wide {
    width: 350px;
    height: 300px;
    margin: 10px;
    border: 10px solid white;
    border-bottom: 50px solid white;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    background-color: white;
    overflow: hidden;
    position: relative;
  }

  .polaroid-wide-2 {
    width: 350px;
    height: 300px;
    margin: 10px;
    border: 10px solid white;
    border-bottom: 50px solid white;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    background-color: white;
    overflow: hidden;
    position: relative;
  }


  .polaroid img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
  }

  
/*
  .polaroid::before {
    content: "";
    position: absolute;
    top: -15px;
    left: -15px;
    right: -15px;
    bottom: -15px;
    border: 2px dashed #ccc;
  }

  .polaroid::after {
    content: "";
    position: absolute;
    top: -20px;
    left: -20px;
    right: -20px;
    bottom: -20px;
    border: 5px solid white;
  }

  */