/* main components */

html, body {
    margin: 0;
    padding: 0;
}

/* Typography */

@font-face {
	font-family: 'Broodim';
	src: url('Broodimtrial.otf') format('opentype');
 }

 @font-face {
	font-family: 'Genty';
	src: url('GentyDemo-Regular.otf') format('opentype');
 }

@import url('https://use.typekit.net/msh6brx.css');

:root {
  --base: 16px;
  --header: 80px;
  --flex-direction: column;
  --width: 120px;
  --height: 140px;
}

@media (min-width: 900px){
  :root {
      --base: 30px;
      --header: 150px;
      --flex-direction: row;
      --width: 250px;
      --height: 300px;
      
  }
}


section.dynamic {
  display: flex;
  flex-direction: var(--flex-direction);
}

/* Header */

.title-section {
    height: 55vh;
   
    padding-top: 10vh;
    padding-left: 10vh;
}

@media (max-width: 500px) {
    .title-section {
        padding-left: 3vh;
    }
}

.channel-title {
    font-family:'Broodim';
    font-size: var(--header);
    color:#f7eed0;
    width: 30vw;
    text-shadow: 0 0 10px #efce36, 0 0 20px #efce36, 0 0 30px;
    margin-top: 0;
    margin-bottom: 0;
}

@media (max-width: 680px) {
  .channel-title {
      padding: 15px 15px;
      padding-left: 0px;
      width: 80vw;
  }
}



.title-subheader {
  font-family: "sirenia", sans-serif;
  font-weight: 100;
  font-style: normal;
  font-size: var(--base);
  color:#ffffff;
  margin-top: 0;
  width: 43vw;;
}

@media (max-width: 500px) {
  .title-subheader {
      width: 70vw;
  }
}

.button {
  font-family: "sirenia", sans-serif;
  font-size: 24px;
 
  color: white;
 
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

@media (max-width: 500px) {
  .button {
    font-size: 16px;
  }
}


/* 4 buttons */

.Images {
  border: solid 3px white;
  background-image: linear-gradient(-45deg, #ef8d2b, #EA8C82);
  border-radius: 40px;
  color: white;
  padding: 30px 30px;
  margin-right: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

@media (max-width: 500px) {
  .Images {
    font-size: 16px;
    padding: 15px 15px;
  }
}

@media screen and (min-width: 500px) and (max-width: 800px) {
  .Images {
    font-size: 16px;
    padding: 20px 20px;
  }
}

.Images:hover {
  background-image: linear-gradient(-45deg, #ef8d2b, #EA8C82);
  font-family: "sirenia", sans-serif;
  font-size: 20px;
  border-radius: 40px;
  color: black;
  padding: 30px 30px;
  margin-right: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

.Images:hover::after {
  content: "Jpeg-jive";
  position: absolute;
  bottom: 10%;
  left: 5%;
  transform: translateX(-50%);
  padding: 10px;
  background-color: #333;
  color: white;
  font-size: 14px;
  border-radius: 5px;
  white-space: nowrap;
}

.Links {
  border: solid 3px white;
  background-image: linear-gradient(-45deg, #E88597, #77C8EF);
  border-radius: 40px;
  color: white;
  padding: 30px 30px;
  margin-right: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

@media (max-width: 500px) {
  .Links {
    font-size: 16px;
    padding: 15px 15px;
  }
}

@media screen and (min-width: 500px) and (max-width: 800px) {
  .Links {
    font-size: 16px;
    padding: 20px 20px;
  }
}

.Links:hover {
  background-image: linear-gradient(-45deg, #E88597, #77C8EF);
  font-family: "sirenia", sans-serif;
  font-size: 20px;
  border-radius: 40px;
  color: black;
  padding: 30px 30px;
  margin-right: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

.Links:hover::after {
  content: "The Missing Links";
  position: absolute;
  bottom: 10%;
  left: 8%;
  transform: translateX(-50%);
  padding: 10px;
  background-color: #333;
  color: white;
  font-size: 14px;
  border-radius: 5px;
  white-space: nowrap;
}

.Texts {
  border: solid 3px white;
  background-image: linear-gradient(-45deg, #E03A26, #EA8C82);
  border-radius: 40px;
  color: white;
  padding: 30px 30px;
  margin-right: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

@media (max-width: 500px) {
  .Texts {
    font-size: 16px;
    padding: 15px 15px;
  }
}

@media screen and (min-width: 500px) and (max-width: 800px) {
  .Texts {
    font-size: 16px;
    padding: 20px 20px;
  }
}

.Texts:hover {
  background-image: linear-gradient(-45deg, #E03A26, #EA8C82);
  font-family: "sirenia", sans-serif;
  font-size: 20px;
  border-radius: 40px;
  color: black;
  padding: 30px 30px;
  margin-right: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

.Texts:hover::after {
  content: "Wordtini";
  position: absolute;
  bottom: 10%;
  left: 15%;
  transform: translateX(-50%);
  padding: 10px;
  background-color: #333;
  color: white;
  font-size: 14px;
  border-radius: 5px;
  white-space: nowrap;
}


.Videos {
  border: solid 3px white;
  background-image: linear-gradient(-45deg, #BACE3E, #63B13D);
  border-radius: 40px;
  color: white;
  padding: 30px 30px;
  margin-right: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

@media (max-width: 500px) {
  .Videos {
    font-size: 16px;
    padding: 15px 15px;
  }
}

@media screen and (min-width: 500px) and (max-width: 800px) {
  .Videos {
    font-size: 16px;
    padding: 20px 20px;
  }
}

.Videos:hover {
  background-image: linear-gradient(-45deg, #BACE3E, #63B13D);
  font-family: "sirenia", sans-serif;
  font-size: 20px;
  border-radius: 40px;
  color: black;
  padding: 30px 30px;
  margin-right: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

.Videos:hover::after {
  content: "The Reel Deal";
  position: absolute;
  bottom: 10%;
  left: 20%;
  transform: translateX(-50%);
  padding: 10px;
  background-color: #333;
  color: white;
  font-size: 14px;
  border-radius: 5px;
  white-space: nowrap;
}

@media (max-width: 425px) {
    .title-header {
        padding: 15px 15px;
        padding-left: 0px;
    }
}


.Mix {
  border: solid 3px white;
  background-image: linear-gradient(-45deg, #E88597, #e8b097,  #c4ed3c, #77C8EF);
  border-radius: 40px;
  color: white;
  font-size: 20px;
  font-family: "sirenia", sans-serif;
  padding: 15px 30px;
  text-align: center;
  width:10vw;
  margin-top: -10.5vh;
  margin-left: 22vw;
}

@media (max-width: 500px) {
  .Mix {
    font-size: 16px;
    padding: 5px 15px;
    width:16vw;
    text-align: center;
    text-decoration: none;
    margin-top: -7.3vh;
    margin-left: 55vw;
  }
}

@media screen and (min-width: 500px) and (max-width: 600px) {
  .Mix {
    font-size: 16px;
    padding: 8px 20px;
    width:16vw;
    text-align: center;
    text-decoration: none;
    margin-top: -8.2vh;
    margin-left: 50vw;
  }
}

@media screen and (min-width: 600px) and (max-width: 700px) {
  .Mix {
    font-size: 16px;
    padding: 8px 20px;
    width:16vw;
    text-align: center;
    text-decoration: none;
    margin-top: -8.2vh;
    margin-left: 40vw;
  }
}

@media screen and (min-width:700px) and (max-width: 800px) {
  .Mix {
    font-size: 16px;
    padding: 8px 20px;
    width:16vw;
    text-align: center;
    text-decoration: none;
    margin-top: -8.2vh;
    margin-left: 35vw;
  }
}
.Mix:hover {
  background-image: linear-gradient(-45deg, #E88597, #e8b097,  #c4ed3c, #77C8EF);
  font-family: "sirenia", sans-serif;
  font-size: 20px;
  border-radius: 40px;
  color: black;
  padding: 15px 30px;
  text-align: center;
  width:10vw;
  margin-top: -10.5vh;
  margin-left: 22vw;
}


body {
    background: linear-gradient(-45deg, #ef8d2b, #EA8C82, #f5bc42, #e771b8);
    background-size: 400% 400%;
    animation: gradient 10s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.body-section {
    
    background-image: url(Wave.png);
    padding-top: 10vh;
}

.Body-header{
    height: 10vh;
    font-size: 56px;
    font-family: "sirenia", sans-serif;
    font-weight: 700;
    font-style: normal;
    color:#ffffff;
    padding-left: 10vw;
    margin-bottom: 0;
}

.body-subheader {
    font-family: "sirenia", sans-serif;
    font-weight: 100;
    font-style: normal;
    font-size: var(--base);
    color:#ffffff;
    padding-left: 10vw;
    margin-top: 0;
}

div.scroll {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    overflow-x: hidden;
    overflow-y: auto;
    height: 40vh;
    padding: 20px;
    padding-bottom: 15vh;
  }

  @media (max-width:375px) {
    div.scroll {
      padding: 0px;
      justify-content: left;
    }
}

@media only screen and (min-width:375px) and (max-width:500px) {
  div.scroll {
    justify-content: left;
  }
}

  @media only screen and (min-width:720px) {
    div.scroll {
      height: 80vh;
    }
}

.polaroid {
    width: var(--width);
    height: var(--height);
    margin: 10px;
    border: 20px solid white;
    border-bottom: 50px solid white;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    background-color: white;
    overflow: hidden;
    position: relative;
  }

  @media only screen and (max-width:500px) {
    .polaroid {
      margin: 3px;
    }
}


  .polaroid img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
  }

  
/*
  .polaroid::before {
    content: "";
    position: absolute;
    top: -15px;
    left: -15px;
    right: -15px;
    bottom: -15px;
    border: 2px dashed #ccc;
  }

  .polaroid::after {
    content: "";
    position: absolute;
    top: -20px;
    left: -20px;
    right: -20px;
    bottom: -20px;
    border: 5px solid white;
  }

  */

  /* Collection code */

  /*.collection-body {
    background: linear-gradient(-45deg, #FE9A38, #EA8C82, #f5bc42, #e771b8);
    background-size: 400% 400%;
    animation: gradient 10s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
*/

  .title {
    font-family:"sirenia", sans-serif;
    font-weight: 100;
    font-size: 30px;
  }

  .image-block {
    width: var(--width);
    height: var(--height);
    margin: 10px;
    filter: brightness(180%);
    transition: filter 0.2s ease-in-out;
    border: 20px solid white;
    border-bottom: 50px solid white;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    background-color: white;
    overflow: hidden;
    position: relative;

  }

  .image-block:hover {
    animation: shake 0.5s, remove-filter 0.2s ease-in-out 2s forwards;

  }

  @keyframes remove-filter {
    from { filter: brightness(150%); }
    to { filter: brightness(100%); }
  }
  

  @keyframes shake {
    0% { transform: translate(0, 0); }
    25% { transform: translate(-10px, 0); }
    50% { transform: translate(0, -10px); }
    75% { transform: translate(10px, 0); }
    100% { transform: translate(0, -10px); }
  }

  @media only screen and (max-width:500px) {
    .image-block {
      margin: 3px;
      width: 120px;
      height: 140px;
      margin: 10px;
      border: 20px solid white;
      border-bottom: 50px solid white;
    }
}

  .image-blocks {
    display: grid;
    grid-template-columns: 20% 20%;
    align-items: center;
    gap: 200px;
    row-gap: 50px;
    width: 50vw;

  }



  @media only screen and (max-width:600px) {
    .image-blocks {
      display: grid;
      grid-template-columns: 20% 20%;
      align-items: center;
      gap: 150px;
      row-gap: 20px;
      width: 50vw;
      padding-left: 0;
    }
}

@media screen and (min-width: 600px) and (max-width: 800px) {
  .image-blocks {
    display: grid;
    grid-template-columns: 20% 20% 20%;
    align-items: center;
    gap: 50px;
    row-gap: 20px;
    width: 100vw;
    padding-left: 0;
  }
}
  .collection-header {
    font-family:'Broodim';
    font-size: 80px;
    color:#f7eed0;
    text-shadow: 0 0 10px #efce36, 0 0 20px #efce36, 0 0 30px;
    margin-top: 50px;
    margin-bottom: 0px;
    margin-left: 50px;
    padding: 0px;
}

  .collection-subheader {
    font-family: "sirenia", sans-serif;
    font-weight: 100;
    font-style: normal;
    font-size: var(--base);
    color:#ffffff;
    margin-top: 0;
    margin-left: 50px;
    width: 70vw;
}

.channel-count {
  font-family: "sirenia", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: var(--base);
  color:#ffffff;
  margin-top: 0;
  margin-left: 50px;
  width: 70vw;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  align-items: center;
  margin-left: 3vw;
}

.image {
  display: block;
  max-width: 100%;
  height: auto;
}

.link-block {
  width: var(--width);
  height: var(--height);
  margin: 10px;
  border: 20px solid white;
  border-bottom: 50px solid white;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  background-color: white;
  overflow: hidden;
  position: relative;

}

/* Links collection */

.link-body {
  background: linear-gradient(-45deg, #E88597, #77C8EF, #e0405d);
  background-size: 400% 400%;
  animation: gradient 10s ease infinite;
}

.title-header-link {
  font-family:'Broodim';
  font-size: var(--header);
  color:#f7eed0;
  text-shadow: 0 0 10px #E88597, 0 0 20px #e0405d, 0 0 30px;
  margin-top: 0;
  margin-bottom: 0;
}

@keyframes gradient {
0% {
  background-position: 0% 50%;
}
50% {
  background-position: 100% 50%;
}
100% {
  background-position: 0% 50%;
}
}


.link-block {
  width: var(--width);
  height: var(--height);
  margin: 10px;
  filter: brightness(180%);
  transition: filter 0.2s ease-in-out;
  border: 20px solid white;
  border-bottom: 50px solid white;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  background-color: white;
  overflow: hidden;
  position: relative;

}

.link-block:hover {
  animation: shake 0.5s, remove-filter 0.2s ease-in-out 2s forwards;

}

@keyframes remove-filter {
  from { filter: brightness(150%); }
  to { filter: brightness(100%); }
}


@keyframes shake {
  0% { transform: translate(0, 0); }
  25% { transform: translate(-10px, 0); }
  50% { transform: translate(0, -10px); }
  75% { transform: translate(10px, 0); }
  100% { transform: translate(0, -10px); }
}

@media only screen and (max-width:500px) {
  .link-block {
    margin: 3px;
    width: 120px;
    height: 140px;
    margin: 10px;
    border: 20px solid white;
    border-bottom: 50px solid white;
  }
}

.link-blocks {
  display: grid;
  grid-template-columns: 20% 20%;
  align-items: center;
  gap: 200px;
  row-gap: 50px;
  width: 50vw;

}



@media only screen and (max-width:500px) {
  .link-blocks {
    display: grid;
    grid-template-columns: 20% 20%;
    align-items: center;
    gap: 150px;
    row-gap: 20px;
    width: 50vw;
    padding-left: 0;
  }
}

/* Text collection */

.text-body {
  background: linear-gradient(-45deg, #E03A26, #e8b097, #eb2914);
  background-size: 400% 400%;
  animation: gradient 10s ease infinite;
}

.title-header-text {
  font-family:'Broodim';
  font-size: var(--header);
  color:#f7eed0;
  text-shadow: 0 0 10px #E88597, 0 0 20px #e0405d, 0 0 30px;
  margin-top: 0;
  margin-bottom: 0;
}

@keyframes gradient {
0% {
  background-position: 0% 50%;
}
50% {
  background-position: 100% 50%;
}
100% {
  background-position: 0% 50%;
}
}


.text-block {
  width: var(--width);
  height: var(--height);
  margin: 10px;
  filter: brightness(180%);
  transition: filter 0.2s ease-in-out;
  border: 20px solid white;
  border-bottom: 50px solid white;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  background-color: white;
  overflow: hidden;
  position: relative;

}

.text-block:hover {
  animation: shake 0.5s, remove-filter 0.2s ease-in-out 2s forwards;

}

@keyframes remove-filter {
  from { filter: brightness(150%); }
  to { filter: brightness(100%); }
}


@keyframes shake {
  0% { transform: translate(0, 0); }
  25% { transform: translate(-10px, 0); }
  50% { transform: translate(0, -10px); }
  75% { transform: translate(10px, 0); }
  100% { transform: translate(0, -10px); }
}

@media only screen and (max-width:500px) {
  .text-block {
    margin: 3px;
    width: 120px;
    height: 140px;
    margin: 10px;
    border: 20px solid white;
    border-bottom: 50px solid white;
  }
}

.text-blocks {
  display: grid;
  grid-template-columns: 20% 20%;
  align-items: center;
  gap: 200px;
  row-gap: 50px;
  width: 50vw;

}



@media only screen and (max-width:500px) {
  .text-blocks {
    display: grid;
    grid-template-columns: 20% 20%;
    align-items: center;
    gap: 150px;
    row-gap: 20px;
    width: 50vw;
    padding-left: 0;
  }
}

/* Video collection */

.video-body {
  background: linear-gradient(-45deg, #d5e761, #4b9825,  #c4ed3c);
  background-size: 400% 400%;
  animation: gradient 10s ease infinite;
}

.title-header-video {
  font-family:'Broodim';
  font-size: var(--header);
  color:#f7eed0;
  text-shadow: 0 0 10px #bfd249, 0 0 20px #bfd249, 0 0 30px;
  margin-top: 0;
  margin-bottom: 0;
}

@keyframes gradient {
0% {
  background-position: 0% 50%;
}
50% {
  background-position: 100% 50%;
}
100% {
  background-position: 0% 50%;
}
}


.video-embed-block {
  width: var(--width);
  height: var(--height);
  margin: 10px;
  filter: brightness(180%);
  transition: filter 0.2s ease-in-out;
  border: 20px solid white;
  border-bottom: 50px solid white;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  background-color: white;
  overflow: hidden;
  position: relative;

}

.video-embed-block:hover {
  animation: shake 0.5s, remove-filter 0.2s ease-in-out 2s forwards;

}

@keyframes remove-filter {
  from { filter: brightness(150%); }
  to { filter: brightness(100%); }
}


@keyframes shake {
  0% { transform: translate(0, 0); }
  25% { transform: translate(-10px, 0); }
  50% { transform: translate(0, -10px); }
  75% { transform: translate(10px, 0); }
  100% { transform: translate(0, -10px); }
}

@media only screen and (max-width:500px) {
  .video-embed-block {
    margin: 3px;
    width: 120px;
    height: 140px;
    margin: 10px;
    border: 20px solid white;
    border-bottom: 50px solid white;
  }
}

.video-embed-blocks {
  display: grid;
  grid-template-columns: 20% 20%;
  align-items: center;
  gap: 200px;
  row-gap: 50px;
  width: 50vw;

}



@media only screen and (max-width:500px) {
  .video-embed-blocks {
    display: grid;
    grid-template-columns: 20% 20%;
    align-items: center;
    gap: 150px;
    row-gap: 20px;
    width: 50vw;
    padding-left: 0;
  }
}

/* Mixed collection */

.mix-body {
  background: linear-gradient(-45deg, #E88597, #e8b097,  #c4ed3c, #77C8EF);
  background-size: 400% 400%;
  animation: gradient 10s ease infinite;
}

.title-header-mix {
  font-family:'Broodim';
  font-size: var(--header);
  color:#fdfdfd;
  text-shadow: 0 0 10px #fcd08e, 0 0 20px #fcd08e,, 0 0 30px;
  margin-top: 0;
  margin-bottom: 0;
}

@keyframes gradient {
0% {
  background-position: 0% 50%;
}
50% {
  background-position: 100% 50%;
}
100% {
  background-position: 0% 50%;
}
}

/* overlay */



.image-thumb {

  aspect-ratio: 1 / 1.5;
	width: 100%;
  object-fit: cover;
	object-position: center;
}

@media (max-width:500px) {
  .image-thumb {
    transform: scale(3);
    aspect-ratio: 1 / 1.5;
	width: 100%;
  object-fit: cover;
	object-position: center;
  }
}